@charset "UTF-8";
/*INPORTO FUENTES*/
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");
/*INPORTO VARIABLES*/
/*PALETA DE COLORES*/
body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background-color: #031321;
}

/*GRILLA QUE CONTIENE TODO EL CUERPO*/
.contenedorGrilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(20% auto 300px);
  grid-template-areas: "header" "main" "footer";
  margin: 0;
}

/*----------------SEPARADOR----------------*/
/*ZONA HEADER*/
header {
  grid-area: header;
  width: 100%;
  background-color: #031321;
  color: #FF2C55;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/*ZONA HEADER SUPERIOR*/
.headerSup {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 1em;
  height: 80px;
}

/*CONTENEDOR LOGO CARGO*/
.cardLogo {
  margin-top: 10px;
  display: inline-flex;
  color: #FF2C55;
  font-size: medium;
  font-style: italic;
}

.logo, .imgFooter {
  width: 40px;
  height: 40px;
}

.buscador {
  width: 160px;
  padding: 10px;
  color: #FF2C55;
  font-weight: bolder;
  font-size: 10px;
  border-radius: 4px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 4px 0px rgba(255, 44, 85, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
}

/*ZONA HEADER INFERIOR*/
.headerInf {
  color: #FF2C55;
  height: 80px;
  z-index: 2;
  border-bottom: solid 2px #FF2C55;
}

/*BARRA DE NAVEGACIÓN*/
div label img {
  width: 45px;
  height: 45px;
  position: absolute;
  margin-left: 15px;
}

.checkBtnNav {
  cursor: pointer;
}

#btnNav {
  display: none;
}

#btnNav:checked ~ ul {
  display: block;
}

header {
  position: fixed;
  top: 0;
  z-index: 3;
}
header div nav ul {
  top: 160px;
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background: #031321;
  list-style: none;
  text-decoration: none;
  text-align: center;
  z-index: 11;
}
header div nav ul li {
  margin: 50px 0;
  line-height: 30px;
}
header div nav ul li a {
  color: #FF2C55;
  font-size: 20px;
  text-decoration: none;
  padding: 6px;
}

/*----------------SEPARADOR----------------*/
/*ZONA CUERPO*/
main {
  margin-top: 160px;
  grid-area: main;
  text-align: center;
  align-items: center;
  display: flexbox;
  color: #FF2C55;
}

.cajaCarousel {
  margin-bottom: 20px;
}

/*ANIMACION CAROUSEL*/
.caja {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  color: #FF2C55;
  border: solid 2px #FF2C55;
}

/*FORMULARIO DE CONTACTO, ES UN GRID*/
.cajaContacto {
  border: solid 2px #FF2C55;
  max-width: 350px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "form" "info";
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contacForm {
  grid-area: form;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.menuFormulario {
  padding: 1.5em 0.5em;
  max-width: 300px;
}

.menuFormulario form p {
  margin: 0;
  padding: 1em;
}

.inputForm {
  max-width: 100%;
}

.infoContacto {
  grid-area: info;
  background: #031321;
  text-align: left;
  max-width: 300px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.infoContacto li {
  list-style: none;
}

.miniIcon {
  width: 20px;
  height: 20px;
}

/*FORMULARIO DE CONTACTO, ES UN GRID----CIERRE*/
/*GRID DEL MAIN SUPERIOR*/
.cajaGrilla {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "cajaA" "cajaB";
  place-items: center;
}

.tituloDos {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #34c85a;
}

.cajaPpal {
  grid-area: cajaA;
  max-width: 360px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
  height: 100%;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.cajaPpal img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}

.cajaDesc {
  grid-area: cajaB;
  max-width: 360px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-radius: 0 0 10px 10px;
}

.cajaDesc h3 {
  color: #34c85a;
  font-size: medium;
}

.bordeVerde {
  border: solid 2px #34c85a;
}

/*GRID DEL MAIN SUPERIOR, CIERRE*/
/*TARJETA DE OPCIONES, PARA SERVICIOS O LAS SUCURSALES*/
.tarjetaOpc {
  width: 200px;
  height: 250px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  /*box-shadow: 0 4px 4px 4px rgba(52, 200, 90, 0.37);*/
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  margin: 5px;
}

.tarjetaTit {
  font-size: medium;
  font-weight: bold;
  text-align: center;
  height: 30px;
}

.tarjetaImg {
  width: 150px;
  height: 100px;
}

.tarjetaDesc {
  color: #34c85a;
  font-size: small;
  text-align: center;
  height: 50px;
  border-top: solid 2px #34c85a;
}

/* CIERRE TARJETA DE OPCIONES, PARA SERVICIOS O LAS SUCURSALES*/
.tituloTres {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #34c85a;
}

.inputForm {
  padding: 8px;
  margin: 4px;
}

.cajaTextoGr {
  width: auto;
  height: 400px;
  color: #34c85a;
}

.imgWhatsapp {
  position: fixed;
  bottom: 0;
  right: 20px;
}

.imgWhatsapp img {
  width: 50px;
  height: 50px;
}

/*ZONA FOOTER*/
footer {
  grid-area: footer;
  background-color: #031321;
  text-align: center;
}

.footerSup {
  border-top: solid 4px #FF2C55;
  margin: auto;
}

.footerInf {
  margin: 25px;
  border-top: solid 2px #FF2C55;
  text-align: center;
}

.tarjetaFooterTit {
  font-size: small;
  color: #FF2C55;
  padding: 5px;
}

.tarjetaFooterDes {
  font-size: x-small;
  color: #FF2C55;
  padding: 5px;
}

.tarjetaFooter {
  width: 250px;
  height: 100px;
  margin: auto;
  text-align: left;
}

.imgFooter {
  padding: 5px;
}

footer ul li {
  list-style: none;
  display: inline-block;
}

/*MEDIA PARA 481*/
@media (min-width: 481px) {
  .buscador {
    width: 180px;
    font-size: 13px;
  }
  /*ZONA MAIN*/
  .cajaPpal {
    grid-area: cajaA;
    max-width: 480px;
    display: inline-block;
  }
  .cajaPpal img {
    max-width: 478px;
  }
  .cajaDesc {
    padding: 1em;
    max-width: 480px;
  }
  .cajaDesc h3 {
    font-size: large;
  }
  .cajaContacto {
    max-width: 500px;
  }
}
/*MEDIA PARA 769*/
@media (min-width: 769px) {
  .cardLogo {
    margin-top: 15px;
    font-size: medium;
  }
  .logo, .imgFooter {
    width: 45px;
    height: 45px;
  }
  .buscador {
    width: 250px;
    padding: 10px;
    font-weight: bolder;
    font-size: medium;
  }
  /*MENU*/
  header {
    position: static;
  }
  header div nav ul {
    top: 0px;
    position: static;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
    text-align: center;
    height: 20px;
    right: 10px;
  }
  header div nav ul li {
    top: 0px;
    margin: 0px;
    line-height: 0px;
    z-index: 3;
  }
  header div nav ul li a {
    color: #FF2C55;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border: none;
    top: 0px;
    z-index: 3;
  }
  header div label img {
    display: none;
  }
  /*MENU*/
  main {
    margin-top: 20px;
  }
  .infoAdd {
    width: 769px;
    margin-left: auto;
    margin-right: auto;
  }
  .infoAdd ul li {
    padding: 25px;
  }
  .infoAdd ul li a {
    font-size: 25px;
  }
  /*SLIDER*/
  .cajaCarousel {
    margin-left: auto;
    margin-right: auto;
    max-width: 769px;
  }
  .cajaPpal {
    max-width: 768px;
  }
  .cajaPpal img {
    max-width: 766px;
  }
  .cajaDesc {
    max-width: 768px;
  }
  .cajaDesc h3 {
    font-size: large;
  }
  .tarjetaOpc {
    margin: 25px;
  }
  .cajaContacto {
    max-width: 600px;
  }
  .tituloDos {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #34c85a;
  }
  .tituloTres {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .imgWhatsapp {
    margin: 0;
  }
  .imgWhatsapp img {
    width: 60px;
    height: 60px;
  }
  /*FOOTER*/
  .footerSup {
    display: flex;
    justify-items: center;
    padding: 10px;
    height: 170px;
  }
  .tarjetaFooterTit {
    font-size: 15px;
  }
  .tarjetaFooterDes {
    font-size: small;
  }
  .tarjetaFooter {
    height: 130px;
  }
  .imgFooter {
    height: 45px;
    width: 45px;
  }
  /*FOOTER*/
}
/*MEDIA PARA 1025*/
@media (min-width: 1025px) {
  .buscador {
    width: 300px;
  }
  .headerInf {
    margin-left: 50px;
    margin-right: 50px;
  }
  .headerSup {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*MENU*/
  header div nav ul li a {
    font-size: 25px;
  }
  /*MENU*/
  main {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
  }
  .cajaContacto {
    max-width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "form info";
  }
  .infoContacto {
    padding: 1em;
  }
  .cajaGrilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "cajaA cajaB";
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .cajaPpal {
    grid-area: cajaA;
    max-width: 600px;
    display: inline-block;
    margin-right: 0;
    border-radius: 20px 0 0 20px;
  }
  .cajaPpal img {
    max-width: 558px;
    border-radius: 20px 0 0 20px;
  }
  .cajaDesc {
    grid-area: cajaB;
    text-align: left;
    margin-left: 0;
    padding: 1em;
    height: 100%;
    max-width: 600px;
    border-radius: 0 20px 20px 0;
  }
  .cajaDesc h3 {
    font-size: large;
  }
  .fondoTit {
    width: auto;
    height: 300px;
    text-align: center;
    margin-bottom: 110px;
  }
  .tituloTres {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .tarjetaOpc {
    width: 300px;
    height: 350px;
    margin: 20px;
  }
  .tarjetaTit {
    font-size: large;
    margin: 10px;
    height: 80px;
  }
  .tarjetaImg {
    width: 300px;
    height: 150px;
  }
  .tarjetaDesc {
    font-size: medium;
  }
  /*FOOTER*/
  .footerSup {
    display: flex;
    justify-items: center;
    padding: 10px;
    height: 170px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .footerInf {
    margin-left: 50px;
    margin-right: 50px;
  }
  .tarjetaFooterTit {
    font-size: 15px;
  }
  .tarjetaFooterDes {
    font-size: small;
  }
  .tarjetaFooter {
    height: 130px;
  }
  .imgFooter {
    height: 45px;
    width: 45px;
  }
  /*FOOTER*/
}
@media (min-width: 1280px) {
  main {
    margin-left: 150px;
    margin-right: 150px;
  }
  .cajaCarousel {
    max-width: 1000px;
  }
  .infoAdd {
    width: 1000px;
  }
}

/*# sourceMappingURL=styless.css.map */
