@charset "UTF-8";
/*----------------IMPORTO FUENTE----------------*/
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");
/*----------------IMPORTO VARIABLES Y ESTILOS PARA TEXTOS Y BORDES----------------*/
/*PALETA DE COLORES*/
/*----------------TAMAÑO DE FUENTES----------------*/
.titGr {
  font-size: 25px;
  font-weight: bold;
}

.descGr {
  font-size: 15px;
}

.titCh {
  font-size: small;
}

.descCh {
  font-size: x-small;
}

/*----------------SEPARADOR----------------*/
/*----------------COLOR DE FUENTES----------------*/
.texVerde {
  color: #34c85a;
}

.texRojo {
  color: #FF2C55;
}

.texBlanco {
  color: #FFFCFF;
}

.texAzulNeo {
  color: #2196f3;
}

/*----------------SEPARADOR----------------*/
/*----------------BORDES Y GLASS----------------*/
.bordeVerde {
  border: solid 2px #34c85a;
}

.bordeBlanco {
  border: solid 2px #FFFCFF;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

/*----------------SEPARADOR----------------*/
/*----------------IMPORTO EL BODY----------------*/
/*----------------BODY ESTILOS BASICOS----------------*/
body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background-color: #031321;
}

/*----------------SEPARADOR----------------*/
/*----------------GRILLA QUE CONTIENE TODO EL CUERPO----------------*/
.contenedorGrilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(20% auto 300px);
  grid-template-areas: "header" "main" "footer";
  margin: 0;
}

/*----------------SEPARADOR----------------*/
/*----------------IMPORTO EL HEADER----------------*/
/*----------------HEADER ESTILOS BASICOS----------------*/
header {
  grid-area: header;
  width: 100%;
  color: #FF2C55;
  margin: 0;
  list-style: none;
  text-decoration: none;
  background: #031321;
}

/*----------------SEPARADOR----------------*/
/*----------------HEADER SUPERIOR----------------*/
.headerSup {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 1em;
  height: 80px;
}

.logo, .imgFooter {
  width: 40px;
  height: 40px;
}

.cardLogo {
  margin-top: 10px;
  display: inline-flex;
  color: #FF2C55;
  font-size: medium;
  font-style: italic;
}

.cardLogo .logo, .cardLogo .imgFooter {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 0px 1px #4b4b50);
  animation: volar 3s linear infinite;
}

@keyframes volar {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}
.buscador {
  width: 160px;
  padding: 10px;
  color: #FF2C55;
  font-weight: bolder;
  font-size: 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
}

/*----------------SEPARADOR----------------*/
/*----------------HEADER INFERIOR----------------*/
.headerInf {
  height: 80px;
  z-index: 2;
  border-bottom: solid 2px #FF2C55;
}

div label img {
  width: 45px;
  height: 45px;
  position: absolute;
  margin-left: 15px;
}

.checkBtnNav {
  cursor: pointer;
}

#btnNav {
  display: none;
}

#btnNav:checked ~ ul {
  display: block;
}

header {
  position: fixed;
  top: 0;
  z-index: 3;
}
header div nav ul {
  top: 160px;
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background: #031321;
  list-style: none;
  text-decoration: none;
  text-align: center;
  z-index: 11;
}
header div nav ul li {
  margin: 50px 0;
  line-height: 30px;
}
header div nav ul li a {
  color: #FF2C55;
  font-size: 20px;
  text-decoration: none;
  padding: 6px;
}

.linkNav {
  padding: 10px 20px;
  color: #FFFCFF;
  background: #FF2C55;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 10px #FF2C55, 0 0 20px #FF2C55;
  border-radius: 5px;
}

/*----------------SEPARADOR----------------*/
/*----------------IMPORTO EL MAIN----------------*/
/*----------------MAIN ESTILOS BASICOS----------------*/
main {
  margin-top: 160px;
  grid-area: main;
  text-align: center;
  align-items: center;
  display: flexbox;
  color: #FF2C55;
}

/*----------------SEPARADOR----------------*/
/*----------------CONTENEDOR CAROUSEL----------------*/
.cajaCarousel {
  margin-bottom: 20px;
}

/*----------------SEPARADOR----------------*/
/*----------------GRILLA MAIN SUPERIOR----------------*/
.cajaGrilla {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "cajaA" "cajaB";
  place-items: center;
}

.cajaPpal {
  grid-area: cajaA;
  max-width: 360px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
  height: 100%;
}

.cajaPpal img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}

.cajaDesc {
  grid-area: cajaB;
  max-width: 360px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-radius: 0 0 10px 10px;
  padding: 1em;
}

.botonNeo {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  color: #255784;
  background: #2196f3;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.5s;
  margin-left: 50px;
  margin-top: 10px;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  border-radius: 5px;
}

/*----------------SEPARADOR----------------*/
/*----------------GRILLA CONTACTO----------------*/
.cajaContacto {
  border: solid 2px #FF2C55;
  max-width: 350px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "form" "info";
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.contacForm {
  grid-area: form;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.menuFormulario {
  padding: 1.5em 0.5em;
  max-width: 300px;
}

.menuFormulario form p {
  margin: 0;
  padding: 1em;
}

.inputForm {
  max-width: 100%;
  padding: 8px;
  margin: 4px;
}

.infoContacto {
  grid-area: info;
  background: #031321;
  text-align: left;
  max-width: 300px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.infoContacto li {
  list-style: none;
}

.miniIcon {
  width: 20px;
  height: 20px;
}

/*----------------SEPARADOR----------------*/
/*----------------TARJETAS DE OPCIONES Y SUCURSALES----------------*/
.tarjetaOpc {
  width: 240px;
  height: 260px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  margin: 15px;
  padding: 5px;
  box-shadow: 0 0 5px #34c85a, 0 0 10px #34c85a, 0 0 20px #34c85a;
}

.tarjetaTit {
  font-size: medium;
  font-weight: bold;
  text-align: center;
  height: 50px;
}

.tarjetaImg {
  width: 150px;
  height: 100px;
}

.tarjetaDesc {
  color: #34c85a;
  font-size: small;
  text-align: center;
  height: 50px;
  border-top: solid 2px #34c85a;
}

/*----------------SEPARADOR----------------*/
/*----------------IMAGEN WHATSAPP----------------*/
.imgWhatsapp {
  position: fixed;
  bottom: 0;
  right: 20px;
}

.imgWhatsapp img {
  width: 50px;
  height: 50px;
}

/*----------------SEPARADOR----------------*/
/*----------------IMPORTO EL FOOTER----------------*/
/*----------------FOOTER ESTILOS BASICOS----------------*/
footer {
  grid-area: footer;
  background-color: #031321;
  text-align: center;
}

/*----------------SEPARADOR----------------*/
/*----------------FOOTER SUPERIOR----------------*/
.footerSup {
  border-top: solid 4px #FF2C55;
  margin: auto;
}

.tarjetaFooter {
  width: 250px;
  height: 100px;
  margin: auto;
  text-align: left;
  padding: 5px;
}

.imgFooter {
  padding: 5px;
}

footer ul li {
  list-style: none;
  display: inline-block;
}

/*----------------SEPARADOR----------------*/
/*----------------FOOTER INFERIOR----------------*/
.footerInf {
  margin: 25px;
  border-top: solid 2px #FF2C55;
  text-align: center;
  padding: 5px;
}

/*----------------SEPARADOR----------------*/
/*----------------IMPORTO LOS MEDIAS QUERIES----------------*/
/*----------------MEDIA PARA 481----------------*/
@media (min-width: 481px) {
  /*----------------FOOTER SUPERIOR----------------*/
  .buscador {
    width: 180px;
    font-size: 13px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------GRILLA MAIN SUPERIOR----------------*/
  .cajaPpal {
    grid-area: cajaA;
    max-width: 480px;
    display: inline-block;
  }
  .cajaPpal img {
    max-width: 478px;
  }
  .cajaDesc {
    padding: 1em;
    max-width: 480px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------GRILLA CONTACTO----------------*/
  .cajaContacto {
    max-width: 500px;
  }
  /*----------------SEPARADOR----------------*/
}
/*----------------SEPARADOR----------------*/
/*----------------MEDIA PARA 769----------------*/
@media (min-width: 769px) {
  /*----------------TAMAÑO DE FUENTES----------------*/
  .titGr {
    font-size: 30px;
    font-weight: bold;
  }
  .descGr {
    font-size: 18px;
  }
  .titCh {
    font-size: 15px;
  }
  .descCh {
    font-size: 12px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------HEADER SUPERIOR----------------*/
  .cardLogo {
    margin-top: 15px;
    font-size: medium;
  }
  .logo, .imgFooter {
    width: 45px;
    height: 45px;
  }
  .buscador {
    width: 250px;
    padding: 10px;
    font-weight: bolder;
    font-size: medium;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------HEADER INFERIOR----------------*/
  header {
    position: static;
  }
  header div nav ul {
    top: 0px;
    position: static;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
    text-align: center;
    height: 20px;
    right: 10px;
  }
  header div nav ul li {
    top: 0px;
    margin: 0px;
    line-height: 0px;
    z-index: 3;
  }
  header div nav ul li a {
    color: #FF2C55;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border: none;
    top: 0px;
    z-index: 3;
  }
  .linkNav {
    padding: 10px 10px;
    color: #FF2C55;
    background: #031321;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: none;
    border-radius: 5px;
    margin-left: 10px;
  }
  .linkNav:hover {
    color: #FFFCFF;
    background: #FF2C55;
    box-shadow: 0 0 10px #FF2C55, 0 0 20px #FF2C55;
  }
  header div label img {
    display: none;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------MAIN ESTILOS BASICOS----------------*/
  main {
    margin-top: 20px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------CONTENEDOR CAROUSEL----------------*/
  .cajaCarousel {
    margin-left: auto;
    margin-right: auto;
    max-width: 769px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------GRILLA MAIN SUPERIOR----------------*/
  .cajaPpal {
    max-width: 768px;
  }
  .cajaPpal img {
    max-width: 766px;
  }
  .cajaDesc {
    max-width: 768px;
    padding: 2em;
  }
  .botonNeo {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #FFFCFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
    transition: 0.5s;
    margin-left: 50px;
    box-shadow: none;
    background: #031321;
  }
  .botonNeo:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------TARJETAS DE OPCIONES Y SUCURSALES----------------*/
  .tarjetaOpc {
    width: 250px;
    height: 300px;
    margin: 25px;
    transition: 0.5s;
    box-shadow: none;
  }
  .tarjetaOpc:hover {
    transform: translateY(-20px);
    box-shadow: 0 0 10px #34c85a, 0 0 40px #34c85a, 0 0 80px #34c85a;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------GRILLA CONTACTO----------------*/
  .cajaContacto {
    max-width: 600px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------IMAGEN WHATSAPP----------------*/
  .imgWhatsapp {
    margin: 0;
  }
  .imgWhatsapp img {
    width: 60px;
    height: 60px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------FOOTER SUPERIOR----------------*/
  .footerSup {
    display: flex;
    justify-items: center;
    padding: 10px;
    height: 170px;
  }
  .tarjetaFooter {
    height: 130px;
  }
  .imgFooter {
    height: 45px;
    width: 45px;
  }
  /*----------------SEPARADOR----------------*/
}
/*----------------SEPARADOR----------------*/
/*----------------MEDIA PARA 1025----------------*/
@media (min-width: 1025px) {
  /*----------------HEADER SUPERIOR----------------*/
  .headerSup {
    margin-left: 50px;
    margin-right: 50px;
  }
  .buscador {
    width: 300px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------HEADER INFERIOR----------------*/
  .headerInf {
    margin-left: 50px;
    margin-right: 50px;
  }
  header div nav ul li a {
    font-size: 25px;
  }
  .linkNav {
    padding: 10px 10px;
    color: #FF2C55;
    background: #031321;
    text-decoration: none;
    font-size: 22px;
    border-radius: 5px;
    margin-left: 10px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------MAIN ESTILOS BASICOS----------------*/
  main {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------GRILLA MAIN SUPERIOR----------------*/
  .cajaGrilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "cajaA cajaB";
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .cajaPpal {
    grid-area: cajaA;
    max-width: 600px;
    display: inline-block;
    margin-right: 0;
    border-radius: 20px 0 0 20px;
  }
  .cajaPpal img {
    max-width: 558px;
    border-radius: 20px 0 0 20px;
  }
  .cajaDesc {
    grid-area: cajaB;
    text-align: left;
    margin-left: 0;
    padding: 1em;
    height: 100%;
    max-width: 600px;
    border-radius: 0 20px 20px 0;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------TARJETAS DE OPCIONES Y SUCURSALES----------------*/
  .tarjetaOpc {
    width: 300px;
    height: 350px;
    margin: 20px;
  }
  .tarjetaTit {
    font-size: large;
    margin: 10px;
    height: 80px;
  }
  .tarjetaImg {
    width: 300px;
    height: 150px;
  }
  .tarjetaDesc {
    font-size: medium;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------GRILLA CONTACTO----------------*/
  .cajaContacto {
    max-width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "form info";
  }
  .infoContacto {
    padding: 1em;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------FOOTER SUPERIOR----------------*/
  .footerSup {
    display: flex;
    justify-items: center;
    padding: 10px;
    height: 170px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .tarjetaFooter {
    height: 130px;
  }
  .imgFooter {
    height: 45px;
    width: 45px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------FOOTER SUPERIOR----------------*/
  .footerInf {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*----------------SEPARADOR----------------*/
}
/*----------------SEPARADOR----------------*/
/*----------------MEDIA PARA 1025----------------*/
@media (min-width: 1280px) {
  /*----------------TAMAÑO DE FUENTES----------------*/
  .titGr {
    font-size: 35px;
    font-weight: bold;
  }
  .titCh {
    font-size: 17px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------HEADER INFERIOR----------------*/
  .linkNav {
    padding: 10px 10px;
    font-size: 25px;
    margin-left: 15px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------MAIN ESTILOS BASICOS----------------*/
  main {
    margin-left: 200px;
    margin-right: 200px;
  }
  /*----------------SEPARADOR----------------*/
  /*----------------CONTENEDOR CAROUSEL----------------*/
  .cajaCarousel {
    max-width: 1000px;
  }
  /*----------------SEPARADOR----------------*/
}
/*----------------SEPARADOR----------------*/

/*# sourceMappingURL=styless.css.map */
