@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");
body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background-color: black;
}

/*PALETA DE COLORES*/
/*GRILLA*/
.contenedorGrilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(20% auto 300px);
  grid-template-areas: "header" "main" "footer";
  margin: 0;
}

/*ZONA HEADER*/
header {
  grid-area: header;
  width: 100%;
  background-color: black;
  color: #FF2C55;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/*ZONA HEADER SUPERIOR*/
.headerSup { /*AQUI VA EL LOGO Y EL BUSCADOR*/
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 1em;
  height: 80px;
}

/*CONTENEDOR LOGO CARGO*/
.cardLogo {
  margin-top: 10px;
  display: inline-flex;
  color: #FF2C55;
  font-size: medium;
  font-style: italic;
}

.logo, .imgFooter {
  width: 40px;
  height: 40px;
}

.buscador {
  width: 180px;
  padding: 10px;
  color: #FF2C55;
  font-weight: bolder;
  font-size: small;
  border-radius: 4px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 4px 0px rgba(255, 44, 85, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
}

/*ZONA HEADER INFERIOR*/
.headerInf {
  color: #FF2C55;
  height: 80px;
  z-index: 2;
  border-bottom: solid 2px #FF2C55;
}

/*BARRA DE NAVEGACIÓN*/
div label img {
  width: 45px;
  height: 45px;
  position: absolute;
  border: solid 1px #FF2C55;
  margin-left: 15px;
}

.checkBtnNav {
  cursor: pointer;
}

#btnNav {
  display: none;
}

#btnNav:checked ~ ul {
  display: block;
}

header div nav ul {
  top: 160px;
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background: black;
  list-style: none;
  text-decoration: none;
  text-align: center;
  z-index: 11;
}
header div nav ul li {
  margin: 50px 0;
  line-height: 30px;
}
header div nav ul li a {
  color: #FF2C55;
  font-size: 20px;
  text-decoration: none;
  padding: 6px;
}

/*ZONA CUERPO*/
main {
  grid-area: main;
  text-align: center;
  align-items: center;
  display: flexbox;
  color: #FF2C55;
}

.mainSup {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "parteA" "parteB";
}

.cajaCarousel {
  grid-area: parteA;
}

.infoAdd {
  display: flex;
  display: inline-block;
  grid-area: parteB;
  background: #0E0F26;
  text-align: left;
  max-width: 100%;
}

.infoAdd ul li {
  padding: 10px;
  list-style: none;
}

.infoAdd ul li a {
  color: #FFFCFF;
  text-decoration: none;
  font-size: 15px;
}

/*ANIMACION CAROUSEL*/
.caja {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  color: #FF2C55;
}

/*FORMULARIO DE CONTACTO, ES UN GRID*/
.contacWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "form" "info";
}

.contacWrapper > * {
  padding: 1em;
}

.menuFormulario {
  padding: 1.5em 0.5em;
  max-width: 300px;
}

.menuFormulario form p {
  margin: 0;
  padding: 1em;
}

.inputForm {
  max-width: 100%;
}

.contacForm {
  grid-area: form;
  display: flex;
}

.infoContacto {
  grid-area: info;
  background: #000;
  text-align: left;
  width: 300px;
  display: inline-block;
}

.infoContacto li {
  list-style: none;
}

/*FORMULARIO DE CONTACTO, ES UN GRID----CIERRE*/
/*GRID DEL MAIN SUPERIOR*/
.cajaGrilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "cajaA" "cajaB";
}

.tituloDos {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #34c85a;
}

.cajaPpal {
  grid-area: cajaA;
  max-width: 400px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #34c85a;
}

.cajaPpal img {
  max-width: 400px;
  border: solid 2px #34c85a;
}

.cajaDesc {
  border: solid 2px #34c85a;
  grid-area: cajaB;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.cajaDesc h3 {
  color: #34c85a;
  font-size: medium;
}

/*GRID DEL MAIN SUPERIOR, CIERRE*/
.tarjetaOpc {
  width: 200px;
  height: 250px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  /*box-shadow: 0 4px 4px 4px rgba(52, 200, 90, 0.37);*/
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  margin: 5px;
}

/*NO PUEDO HACER ANDAR EL MAPA*/
.tarjetaOpc--t1 {
  color: #FF3830;
}

.tarjetaOpc--t2 {
  color: #FFCC00;
}

.tarjetaOpc--t3 {
  color: #FF9501;
}

.tarjetaOpc--t4 {
  color: #5AC8FB;
}

.tarjetaOpc--t5 {
  color: #007AFF;
}

.tarjetaOpc--t6 {
  color: #AF52DE;
}

.tarjetaTit {
  font-size: medium;
  font-weight: bold;
  text-align: center;
  height: 30px;
}

.tarjetaImg {
  width: 150px;
  height: 100px;
}

.tarjetaDesc {
  color: #34c85a;
  font-size: small;
  text-align: center;
  height: 50px;
  border-top: solid 2px #34c85a;
}

.tituloTres {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #34c85a;
}

.inputForm {
  padding: 8px;
  margin: 4px;
}

.cajaTextoGr {
  width: auto;
  height: 400px;
  color: #34c85a;
}

.imgWhatsapp {
  position: fixed;
  bottom: 0;
  right: 20px;
}

.imgWhatsapp img {
  width: 50px;
  height: 50px;
}

/*ZONA FOOTER*/
footer {
  grid-area: footer;
  background-color: black;
  text-align: center;
}

.footerSup {
  border-top: solid 4px #FF2C55;
  margin: auto;
}

.footerInf {
  margin: 25px;
  border-top: solid 2px #FF2C55;
  text-align: center;
}

.tarjetaFooterTit {
  font-size: small;
  color: #FF2C55;
  padding: 5px;
}

.tarjetaFooterDes {
  font-size: x-small;
  color: #FF2C55;
  padding: 5px;
}

.tarjetaFooter {
  width: 250px;
  height: 100px;
  margin: auto;
  text-align: left;
}

.imgFooter {
  padding: 5px;
}

footer ul li {
  list-style: none;
  display: inline-block;
}

/*MEDIA PARA 1024*/
@media (min-width: 1024px) {
  .contenedorGrilla {
    margin: 0;
  }
  .cardLogo {
    margin-top: 15px;
    font-size: medium;
  }
  .logo, .imgFooter {
    width: 45px;
    height: 45px;
  }
  .buscador {
    width: 300px;
    padding: 10px;
    font-weight: bolder;
    font-size: medium;
  }
  .headerInf {
    color: #FF2C55;
    height: 80px;
    z-index: 0;
    margin-left: 50px;
    margin-right: 50px;
  }
  .headerSup {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*MENU*/
  header div nav ul {
    top: 0px;
    position: static;
    display: flex;
    justify-content: flex-end;
    background: black;
    list-style: none;
    text-decoration: none;
    text-align: center;
    height: 20px;
    right: 10px;
  }
  header div nav ul li {
    top: 0px;
    margin: 0px;
    line-height: 0px;
    z-index: 3;
  }
  header div nav ul li a {
    color: #FF2C55;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border: none;
    top: 0px;
    z-index: 3;
  }
  header div label img {
    display: none;
  }
  /*MENU*/
  main {
    display: inline-block;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
  }
  .mainSup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "parteA parteB";
  }
  .infoAdd ul li {
    padding: 5px;
  }
  .infoAdd ul li a {
    font-size: 20px;
  }
  /*SLIDER*/
  .cajaCarousel {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
  }
  /*SLIDER*/
  .contacWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "form info";
  }
  .infoContacto {
    margin-top: 50px;
  }
  .cajaGrilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "cajaA cajaB";
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .tituloDos {
    max-width: 600px;
  }
  .cajaPpal {
    grid-area: cajaA;
    max-width: 600px;
    display: inline-block;
    margin-right: 0;
  }
  .cajaPpal img {
    max-width: 600px;
    border: solid 2px #34c85a;
  }
  .cajaDesc {
    text-align: left;
    margin-left: 0;
    padding: 1em;
    max-width: 600px;
  }
  .cajaDesc h3 {
    font-size: large;
  }
  .fondoTit {
    width: auto;
    height: 300px;
    text-align: center;
    margin-bottom: 110px;
  }
  .fondoTit > img {
    width: 100%;
    height: 400px;
  }
  .tituloDos {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #34c85a;
    width: 500px;
    top: 200px;
  }
  .tituloTres {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .tarjetaOpc {
    width: 300px;
    height: 350px;
    margin: 20px;
  }
  .tarjetaTit {
    font-size: large;
    margin: 10px;
    height: 80px;
  }
  .tarjetaImg {
    width: 300px;
    height: 150px;
  }
  .tarjetaDesc {
    font-size: medium;
  }
  .imgWhatsapp {
    margin: 0;
  }
  .imgWhatsapp img {
    width: 60px;
    height: 60px;
  }
  /*FOOTER*/
  .footerSup {
    display: flex;
    justify-items: center;
    padding: 10px;
    height: 170px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .footerInf {
    margin-left: 50px;
    margin-right: 50px;
  }
  .tarjetaFooterTit {
    font-size: 15px;
  }
  .tarjetaFooterDes {
    font-size: small;
  }
  .tarjetaFooter {
    height: 130px;
  }
  .imgFooter {
    height: 45px;
    width: 45px;
  }
  /*FOOTER*/
}
/*PARA ENTREGA DE SASS VARIABLES*/
/*PARA ENTREGA DE SASS VARIABLES*/

/*# sourceMappingURL=styless.css.map */
