/*----------------MEDIA PARA 769----------------*/

@media (min-width:769px){

    /*----------------TAMAÑO DE FUENTES----------------*/
    .titGr{
        font-size:30px;
        font-weight: bold;
    }

    .descGr{
        font-size: 18px;
    }

    .titCh{
        font-size: 15px;
    }

    .descCh{
        font-size: 12px;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------HEADER SUPERIOR----------------*/
    .cardLogo{
        margin-top: 15px;
        font-size: medium;
    }

    .logo{
        width: 45px;
        height: 45px;
    }

    .buscador{
        width: 250px;
        padding: 10px;
        font-weight: bolder;
        font-size: medium;
        }
    /*----------------SEPARADOR----------------*/

    /*----------------HEADER INFERIOR----------------*/
    header{
        position: static;
        div{
            nav{
                ul{
                    top:0px;
                    position:static;
                    display:flex;
                    justify-content:flex-end;
                    list-style: none;
                    text-decoration: none;
                    text-align: center;
                    height:20px;
                    right: 10px;
                    li{
                        top: 0px;
                        margin: 0px;
                        line-height: 0px;
                        z-index: 3;
                        a{
                            color:$rojoesp;
                            font-size:20px;
                            font-weight: bold;
                            text-decoration: none;
                            padding:10px;
                            border:none;
                            top: 0px;
                            z-index: 3;
                        }
                    }
                }
            }
        }
    }

    .linkNav{
        padding: 10px 10px;
        color: $rojoesp;
        background: $azulesp;
        text-decoration: none;
        font-size: 17px;
        overflow: hidden;
        transition: 0.5s;
        box-shadow: none;
        border-radius: 5px;
        margin-left: 10px;
    }

    .linkNav:hover{
        color: $blancoesp;
        background: $rojoesp;
        box-shadow: 0 0 10px $rojoesp,0 0 20px $rojoesp;
    }

    header div label img{
        display: none;
    }
    /*----------------SEPARADOR----------------*/
   
    /*----------------MAIN ESTILOS BASICOS----------------*/
    main{
        margin-top:20px;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------CONTENEDOR CAROUSEL----------------*/
    .cajaCarousel{
        margin-left: auto;
        margin-right: auto;
        max-width: 769px;
    }
    /*----------------SEPARADOR----------------*/
    
    /*----------------GRILLA MAIN SUPERIOR----------------*/
    .cajaPpal{
        max-width: 768px;
    }
    
    .cajaPpal img{
        max-width: 766px;
    }
    
    .cajaDesc{
        max-width: 768px;
        padding: 2em;
    }
    
    .botonNeo{
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: $blancoesp;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        overflow: hidden;
        transition: 0.5s;
        margin-left: 50px;
        box-shadow: none;
        background: $azulesp;
    }
    
    .botonNeo:hover{
        color: #255784;
        background: #2196f3;
        box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------TARJETAS DE OPCIONES Y SUCURSALES----------------*/
    .tarjetaOpc{
        @include sizes(250px,300px);
        margin: 25px;
        transition: 0.5s;
        box-shadow: none;
    }

    .tarjetaOpc:hover{
        transform: translateY(-20px);
        box-shadow: 0 0 10px $verdeesp,0 0 40px $verdeesp,0 0 80px $verdeesp;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------GRILLA CONTACTO----------------*/
    .cajaContacto{
        max-width: 600px;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------IMAGEN WHATSAPP----------------*/
    .imgWhatsapp{
        margin: 0;
    }
    .imgWhatsapp img {
        width: 60px;
        height: 60px;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------FOOTER SUPERIOR----------------*/
    .footerSup{
        display:flex;
        justify-items: center;
        padding: 10px;
        height: 170px;
    }
    
    .tarjetaFooter{
        height: 130px;
    }
    
    .imgFooter{
        height: 45px;
        width: 45px; 
    }
    /*----------------SEPARADOR----------------*/
}
/*----------------SEPARADOR----------------*/