@media (min-width:1280px) {

    .linkNav{
        padding: 10px 10px;
        font-size: 25px;
        margin-left: 15px;
    }

    main{
        margin-left: 150px;
        margin-right: 150px;
    }

    .cajaCarousel{
        max-width: 1000px;
    }

    .infoAdd{
        width: 1000px;
    }
    
}