/*----------------MEDIA PARA 481----------------*/

@media (min-width:481px){
    /*----------------FOOTER SUPERIOR----------------*/
    .buscador{
        width: 180px;
        font-size: 13px;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------GRILLA MAIN SUPERIOR----------------*/
    .cajaPpal{
        grid-area: cajaA;
        max-width: 480px;
        display: inline-block;
    }
    
    .cajaPpal img{
        max-width: 478px;
    }
    
    .cajaDesc{
        padding: 1em;
        max-width: 480px;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------GRILLA CONTACTO----------------*/
    .cajaContacto{
        max-width: 500px;
    }
    /*----------------SEPARADOR----------------*/
}
/*----------------SEPARADOR----------------*/