/*----------------MEDIA PARA 1025----------------*/
@media (min-width:1025px) {

    /*----------------HEADER SUPERIOR----------------*/
    .headerSup{
        margin-left: 50px;
        margin-right: 50px;
    }

    .buscador{
        width: 300px;
        }
    /*----------------SEPARADOR----------------*/
    
    /*----------------HEADER INFERIOR----------------*/
    .headerInf{
        margin-left: 50px;
        margin-right: 50px;
    }

    header{
        div{
            nav{
                ul{
                    li{
                        a{
                            font-size:25px;
                        }
                    }
                }
            }
        }
    }
    
    .linkNav{
        padding: 10px 10px;
        color: $rojoesp;
        background: $azulesp;
        text-decoration: none;
        font-size: 22px;
        border-radius: 5px;
        margin-left: 10px;
    }
    /*----------------SEPARADOR----------------*/
    
    /*----------------MAIN ESTILOS BASICOS----------------*/
    main {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------GRILLA MAIN SUPERIOR----------------*/
    .cajaGrilla{
        display: grid;
        grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "cajaA cajaB"
            ;

        margin-top: 40px;    
        margin-bottom: 50px;
    }
    
    .cajaPpal{
        grid-area: cajaA;
        max-width: 600px;
        display: inline-block;
        margin-right: 0;
        border-radius: 20px 0 0 20px;
    }
    
    .cajaPpal img{
        max-width: 558px;
        border-radius: 20px 0 0 20px;
    }
    
    .cajaDesc{
        grid-area: cajaB;
        text-align: left;
        margin-left: 0;
        padding: 1em;
        height: 100%;
        max-width: 600px;
        border-radius: 0 20px 20px 0;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------TARJETAS DE OPCIONES Y SUCURSALES----------------*/
    .tarjetaOpc{
        @include sizes(300px,350px);
        margin: 20px;
    }

    .tarjetaTit{
        font-size:large;
        margin: 10px;
        height: 80px;
    }
    
    .tarjetaImg{
        width: 300px;
        height: 150px;
    }
    
    .tarjetaDesc{
        font-size: medium;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------GRILLA CONTACTO----------------*/
    .cajaContacto{
        max-width: 750px;
        display: grid;
        grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "form info"
            ;
    }
    .infoContacto{
        padding: 1em;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------FOOTER SUPERIOR----------------*/
    .footerSup{
        display:flex;
        justify-items: center;
        padding: 10px;
        height: 170px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .tarjetaFooter{
        height: 130px;
    }
    
    .imgFooter{
        height: 45px;
        width: 45px; 
    }
    /*----------------SEPARADOR----------------*/

    /*----------------FOOTER SUPERIOR----------------*/
    .footerInf{
        margin-left: 50px;
        margin-right: 50px;
    }
    /*----------------SEPARADOR----------------*/
}
/*----------------SEPARADOR----------------*/