
/*MEDIA PARA 1025*/

@media (min-width:1025px) {

    .buscador{
        width: 300px;
        }
    
    .headerInf{
        margin-left: 50px;
        margin-right: 50px;
    }

    .headerSup{
        margin-left: 50px;
        margin-right: 50px;
    }

    /*MENU*/

    header{
        div{
            nav{
                ul{
                    li{
                        a{
                            font-size:25px;
                        }
                    }
                }
            }
        }
    }
    
   
    /*MENU*/

    main {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
    }

    .contacWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "form info"
            ;
    }

    .infoContacto{
        margin-top: 50px;
    }


    .cajaGrilla{
        display: grid;
        grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "cajaA cajaB"
            ;

        margin-top: 40px;    
        margin-bottom: 50px;
    }
    
    .cajaPpal{
        grid-area: cajaA;
        max-width: 600px;
        display: inline-block;
        margin-right: 0;
    }
    
    .cajaPpal img{
        max-width: 558px;
        border: solid 2px $verdeesp;
    }
    
    .cajaDesc{
        grid-area: cajaB;
        text-align: left;
        margin-left: 0;
        padding: 1em;
        height: 100%;
        max-width: 600px;
    }
    
    .cajaDesc h3{
        font-size: large;
    }

    .fondoTit{
        width: auto;
        height: 300px;
        text-align: center;
        margin-bottom: 110px;
    }
    
    .tituloTres{
        text-align: center;
        font-size:30px;
        font-weight: bold;
    }

    .tarjetaOpc{
        width: 300px;
        height: 350px;
        margin: 20px;
    }

    .tarjetaTit{
        font-size:large;
        margin: 10px;
        height: 80px;
    }
    
    .tarjetaImg{
        width: 300px;
        height: 150px;
    }
    
    .tarjetaDesc{
        font-size: medium;
    }

    /*FOOTER*/

    .footerSup{
        display:flex;
        justify-items: center;
        padding: 10px;
        height: 170px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .footerInf{
        margin-left: 50px;
        margin-right: 50px;
    }

    .tarjetaFooterTit{
        font-size: 15px;
    }
    
    .tarjetaFooterDes{
        font-size:small;
    }
    
    .tarjetaFooter{
        height: 130px;
    }
    
    .imgFooter{
        height: 45px;
        width: 45px; 
    }
    /*FOOTER*/
}