@media (min-width:1280px) {

    main{
        margin-left: 150px;
        margin-right: 150px;
    }

    .cajaCarousel{
        max-width: 1000px;
    }

    .infoAdd{
        width: 1000px;
    }
    
}