/*----------------MEDIA PARA 1025----------------*/
@media (min-width:1280px) {

    /*----------------TAMAÑO DE FUENTES----------------*/
    .titGr{
        font-size:35px;
        font-weight: bold;
    }

    .titCh{
        font-size: 17px;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------HEADER INFERIOR----------------*/
    .linkNav{
        padding: 10px 10px;
        font-size: 25px;
        margin-left: 15px;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------MAIN ESTILOS BASICOS----------------*/
    main{
        margin-left: 200px;
        margin-right: 200px;
    }
    /*----------------SEPARADOR----------------*/

    /*----------------CONTENEDOR CAROUSEL----------------*/
    .cajaCarousel{
        max-width: 1000px;
    }
    /*----------------SEPARADOR----------------*/
}
/*----------------SEPARADOR----------------*/