@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

@import 'vars';

body{
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
}


/*GRILLA*/

.contenedorGrilla{
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(20% auto 300px);
        grid-template-areas: 
            "header"
            "main"
            "footer"
        ;

    margin: 0;    
}

/*ZONA HEADER*/

header{
    grid-area: header;
    width: 100%;
    background-color: black;
    color:$rojoesp;
    margin: 0;
    list-style:none;
    text-decoration: none;
}

/*ZONA HEADER SUPERIOR*/

.headerSup{        /*AQUI VA EL LOGO Y EL BUSCADOR*/
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-right: 1em;
    padding-left: 1em;
    height: 80px;
    
}
/*CONTENEDOR LOGO CARGO*/
.cardLogo{
    margin-top: 10px;
    display: inline-flex;
    color:  $rojoesp;
    font-size: medium;
    font-style: italic;
}

.logo{
    width: 40px;
    height: 40px;
}

.buscador{
    width: 170px;
    padding: 10px;
    color:$rojoesp;
    font-weight: bolder;
    font-size: small;

    border-radius: 4px;

    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 4px 0px rgba(255, 44, 85, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
}

/*ZONA HEADER INFERIOR*/

.headerInf{
    color: $rojoesp;
    height: 80px;
    z-index: 2;
    border-bottom: solid 2px $rojoesp;
}

/*BARRA DE NAVEGACIÓN*/

div{
    label{
        img{
            width: 45px;
            height: 45px;
            position: absolute;
            border: solid 1px $rojoesp;
            margin-left: 15px;
        }
    }
}

.checkBtnNav{
    cursor: pointer;
}

#btnNav{
    display: none;
}
#btnNav:checked ~ ul{
    display: block;
}

header{
    div{
        nav{
            ul{
                top: 160px;
                position:absolute;
                display: none;
                width: 100%;
                height: 100vh;
                background: black;
                list-style: none;
                text-decoration: none;
                text-align: center;
                z-index: 11;     
                li{
                    margin: 50px 0;
                    line-height: 30px;
                    a{
                        color:$rojoesp;
                        font-size: 20px;
                        text-decoration: none;
                        padding: 6px;
                    }
                }
            }
        }
    }
}

/*ZONA CUERPO*/

main{
    grid-area: main;
    text-align: center;
    align-items: center;
    display: flexbox;
    color: $rojoesp;
}

.mainSup{
    display: grid;
    grid-template-columns: 1fr;
        grid-template-areas: 
            "parteA"
            "parteB"
        ;
}

.cajaCarousel{
    grid-area: parteA;
}

.infoAdd{
    display: flex;
    display: inline-block;
    grid-area: parteB;
    background: $grisesp;
    text-align: left;
    max-width: 100%;
}

.infoAdd ul li{
    padding: 10px;
    list-style: none;
}

.infoAdd ul li a{
    color: $blancoesp;
    text-decoration: none;
    font-size: 15px;
}

/*ANIMACION CAROUSEL*/

.caja{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    color: $rojoesp;
}

/*FORMULARIO DE CONTACTO, ES UN GRID*/

.contacWrapper{
    display: grid;
    grid-template-columns: 1fr;
        grid-template-areas: 
            "form"
            "info"
        ;
}

.contacWrapper > * {
    padding: 1em;
}

.menuFormulario{
    padding: 1.5em 0.5em;
    max-width: 300px;
}

.menuFormulario form p{
    margin:0;
    padding: 1em;
}

.inputForm{
    max-width: 100%;
}

.contacForm{
    grid-area: form;
    display: flex;
}

.infoContacto{
    grid-area: info;
    background: #000;
    text-align: left;
    max-width: 300px;
    display: inline-block;
}

.infoContacto li{
    list-style: none;
}

/*FORMULARIO DE CONTACTO, ES UN GRID----CIERRE*/

/*GRID DEL MAIN SUPERIOR*/

.cajaGrilla{
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
        grid-template-areas: 
            "cajaA"
            "cajaB"
        ;
    place-items: center;    
}

.tituloDos{
    text-align: center;
    font-size:x-large;
    font-weight: bold;
    color:$verdeesp;
}

.cajaPpal{
    grid-area: cajaA;
    max-width: 370px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px $verdeesp;
}

.cajaPpal img{
    max-width: 368px;
    border: solid 2px $verdeesp;
}

.cajaDesc{
    border: solid 2px $verdeesp;
    grid-area: cajaB;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.cajaDesc h3{
    color: $verdeesp;
    font-size: medium;
}

/*GRID DEL MAIN SUPERIOR, CIERRE*/

@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}

.tarjetaOpc{
    @include sizes(200px,250px);
    display: inline-block;
    overflow: hidden;
    text-align: center;

    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    /*box-shadow: 0 4px 4px 4px rgba(52, 200, 90, 0.37);*/
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;

    margin: 5px;
}

.tarjetaTit{
    font-size: medium;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

.tarjetaImg{
    width: 150px;
    height: 100px;
}

.tarjetaDesc{
    color: $verdeesp;
    font-size: small;
    text-align: center;
    height: 50px;
    border-top: solid 2px $verdeesp;
}

.tituloTres{
    text-align: center;
    font-size:x-large;
    font-weight: bold;
    color:$verdeesp;
}

.inputForm{
    padding: 8px;
    margin: 4px;
}

.cajaTextoGr{
    width: auto;
    height: 400px;
    color: $verdeesp;
}

.imgWhatsapp{
    position: fixed;
    bottom: 0;
    right: 20px;
}

.imgWhatsapp img {
    width: 50px;
    height: 50px;
}

/*ZONA FOOTER*/

footer{
    grid-area:footer;
    background-color: black;
    text-align: center;
}

.footerSup{
    border-top: solid 4px $rojoesp;
    margin: auto;
}

.footerInf{
    margin: 25px;
    border-top: solid 2px $rojoesp;
    text-align: center;
}

.tarjetaFooterTit{
    font-size: small;
    color:  $rojoesp;
    padding: 5px;
}

.tarjetaFooterDes{
    font-size: x-small;
    color: $rojoesp;
    padding: 5px;
}

.tarjetaFooter{
    width: 250px;
    height: 100px;
    margin: auto;
    text-align: left;
}


.imgFooter{
    @extend .logo;
    padding: 5px;
}

footer ul li{
    list-style: none;
    display: inline-block;
}

@import 'min481';
@import 'min769';
@import 'min1025';
@import 'min1280';